<div class="home">
    <div class="home_background"></div>
    <div class="background_image background_city" style="background-image:url(./assets/images/city.png); opacity: 0.1">
    </div>
    <div class="cloud cloud_1"><img src="./assets/images/cloud.png" alt=""></div>
    <div class="cloud cloud_2"><img src="./assets/images/cloud.png" alt=""></div>
    <div class="cloud cloud_4"><img src="./assets/images/cloud.png" alt=""></div>
    <div class="home_container">
        <div class="container">
            <div class="row p-4">
                <div class="col">
                    <div class="home_content text-center">
                        <div class="home_title">
                            sobre
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="news text-justify p-4">
                    <div class="col-sm">
                        <div class="news_posts">

                            <!-- News Post -->
                            <div class="news_post magic_fade_in">

                                <div class="news_post_content">

                                    <h3 class="p-4">
                                        INTRODUÇÃO
                                    </h3>

                                    <div class="news_post_text">
                                        <p>
                                            O desafio de uma “economia verde do conhecimento”, em substituição ao
                                            tradicional (e até hoje dominante) modelo extrativista, em declínio, impõe,
                                            assim, particularmente ao Estado, na qualidade de indutor do processo,
                                            investimentos crescentes em biotecnologia e bionegócios. Essa é a razão para
                                            a concepção estratégica de um Programa Paraense de Incentivo ao Uso
                                            Sustentável da Biodiversidade – que aqui passa a ser denominado de BioPará,
                                            traduzido como ferramenta para nortear a elaboração de políticas públicas
                                            que possibilitem, sob a liderança da Secretaria de Estado de Ciência,
                                            Tecnologia e Educação Profissional e Tecnológica – SECTET, a agregação de
                                            valor às cadeias produtivas voltadas ao aproveitamento da biodiversidade
                                            estadual. Fonte: Programa BioPará.
                                        </p>
                                        <p>
                                            A construção de um modelo de desenvolvimento sustentável para a Amazônia
                                            representa um imenso desafio, com diversos fatores críticos de sucesso. Este
                                            objetivo depende de vigoroso impulso nos processos de agregação de valor
                                            econômico à biodiversidade, convocando-se à tarefa todo o saber disponível –
                                            que reside em instituições de pesquisa, comunidades e pessoas – e
                                            trabalhando-se em rede. Nessa perspectiva, o que deve interessar,
                                            meridianamente, no patamar das políticas públicas, não é de que maneira a
                                            ciência pode servir-se da Amazônia, e, sim, como pode o conhecimento
                                            científico ser produzido “na” e utilizado “pela e para” a região. Eis aqui o
                                            novo prumo da medida possível de reinvenção da Amazônia: a informação
                                            consistente sobre as realidades regionais (ciência); a formação crítica e
                                            qualificada das mentalidades locais (educação); e a transformação exitosa do
                                            conhecimento em soluções para o progresso humano (tecnologia e inovação).
                                            Fonte: Programa BioPará.
                                        </p>
                                        <div class="news_post_image text-center">
                                                <img src="/src/assets/images/img-sobre-01.PNG" >                                               
                                        </div>
                                        <p>
                                            A única defesa possível para a Amazônia e seu desenvolvimento sustentável
                                            repousa, pois, no
                                            domínio hegemônico do conhecimento sobre os ativos naturais da região
                                            (recursos renováveis) e no
                                            seu manejo tecnológico customizado, para fins de desenvolvimento humano,
                                            evoluindo-se do
                                            obsoleto extrativismo secular e predatório, centrado na exportação de
                                            commodities – aos moldes de
                                            uma acumulação primitiva e violenta, a uma vigorosa economia do
                                            conhecimento, alavancada por
                                            investimentos estratégicos em ciência e tecnologia, com fins de inovação e
                                            inclusão social.
                                            Indispensável o fortalecimento das redes de pesquisa associadas à
                                            biodiversidade (maior riqueza
                                            regional), com articulação das estruturas regionais (produtivas, científicas
                                            e culturais) aos circuitos
                                            nacionais/internacionais e intensificação dos fluxos comerciais/financeiros.
                                            Fonte: Programa BioPará.
                                        </p>

                                       
                                        <div class="news_post_image text-center">
                                                <img src="/src/assets/images/img-sobre-02.PNG" >                                               
                                        </div>


                                        <p>
                                            Vale destacar que a biodiversidade foi eleita, pelo Plano Estratégico de
                                            Desenvolvimento
                                            “PARÁ 2030”, uma dentre as 09 (nove) principais oportunidades de
                                            investimentos, no estado, para as
                                            próximas décadas, com enorme potencialidade à geração de divisas, emprego e
                                            renda.
                                        </p>

                                        <p>
                                            Os investimentos em biotecnologia perpassam, igualmente, pelo apoio à
                                            criação e à acreditação
                                            de laboratórios multiuso de análise e controle de qualidade, focados na
                                            produção local e devidamente
                                            certificados por órgãos como a ANVISA, o IMETRO e o INPI (dentre outros),
                                            capazes de trazer,
                                            para todo o estado, as condições técnicas e científicas necessárias à
                                            avaliação da qualidade e à
                                            certificação dos produtos e insumos oriundos da biodiversidade. Tal ação
                                            representará considerável
                                            redução de custos, visto que, no momento, a quase totalidade das análises é
                                            realizada na região sudeste,
                                            fato que reduz a competitividade da indústria local. Esses laboratórios
                                            possibilitarão, ademais, a
                                            prestação de serviços a outros estados dentro da região. Inclusive a criação
                                            do “Selo PARÁ” (ou
                                            equivalente), como instrumento de certificação da qualidade dos produtos
                                            originados da
                                            biodiversidade estadual, depende da implantação desses laboratórios. Fonte:
                                            Programa BioPará.
                                        </p>

                                        <h3 class="p-4">
                                            CONSIDERANDO
                                        </h3>




                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                a - A BioTec-Amazônia foi qualificada pelo Governo do Estado do Pará
                                                para a gestão e
                                                implementação do Programa BioPará;
                                            </li>
                                            <li class="list-group-item">
                                                b - A BioTec-Amazônia é uma associação de direito privado, qualificada
                                                pelo governo do
                                                como Organização Social para promover o desenvolvimento da bioeconomia
                                                através
                                                do uso sustentável da biodiversidade estadual e regional; especializada
                                                no
                                                desenvolvimento da inovação; reconhecida como Instituição de Ciência e
                                                Tecnologia
                                                – ICT, de acordo com a Lei Estadual de Inovação (Lei nº. 8.426/2016);
                                            </li>
                                            <li class="list-group-item">
                                                c - A BioTec-Amazônia iniciou as suas atividades em janeiro de 2018 com
                                                o propósito de
                                                fazer a gestão do programa paraense BioPará, que visa promover parcerias
                                                entre
                                                empresas e a academia para a agregação de valor às cadeias produtivas
                                                voltadas ao
                                                aproveitamento da biodiversidade estadual e regional, por meio de
                                                pesquisa e
                                                desenvolvimento e de prospecção de bionegócios inovadores;
                                            </li>
                                            <li class="list-group-item">
                                                d - Os setores priorizados no Programa BioPará são:
                                                <br> i. Farmacêutico – Fitoterápicos.
                                                <br> ii. Alimentício.
                                                <br> iii. Cosmético.
                                                <br> iv. Química Fina (respeitando a vocação natural da região norte e
                                                principalmente
                                                do Estado do Pará, com o uso sustentável da biodiversidade amazônica).
                                            </li>

                                            <li class="list-group-item">
                                                e - O “conhecimento” ser um fator de atratividade da região para
                                                empresas dos setores
                                                priorizados;
                                            </li>

                                        </ul>

                                        <h3 class="p-4"> 
                                                REQUER
                                        </h3>

                                        <p>
                                                Sendo a BioTec-Amazônia a responsável pelo desenvolvimento da bioeconomia no Estado
                                                do Pará, no que se refere ao Programa BioPará, torna-se então essencial que seja constituída, sob sua
                                                coordenação, uma Rede de Laboratórios para a Bioeconomia da Amazônia – Rede BioTec-Amazônia
                                                - com competências, estrutura laboratorial e conhecimentos complementares. Desta forma será
                                                possível o desenvolvimento de projetos com tecnologias avançadas e alta base científica, possibilitando
                                                a atração de empresas parceiras e/ou que venham se instalar no Estado do Pará.
                                        </p>

                                        <ul class="list-group list-group-flush mb-3">
                                            <li>a. A BioTec-Amazônia é reconhecida como Instituição de Ciência e Tecnologia – ICT,
                                                    de acordo com a Lei Estadual de Inovação (Lei nº. 8.426/2016);</li>
                                            <li class="list-group-item">b. A rede de laboratórios é essencial para atender fatores críticos de sucesso para a
                                                    implementação do Programa BioPará, tais como:
                                                
                                                    <br>i. Caracterização dos insumos.
                                                    <br>ii. Garantia e certificação de qualidade dos insumos.
                                                    <br>iii. Prestação de serviços tecnológicos e inovadores.
                                                    <br>iv. Base científica robusta suportando os benefícios declarados dos insumos
                                                    derivados da biodiversidade.
                                                    <br>v. Rastreabilidade.
                                                    <br>vi. Desenvolvimento do Banco da Atividade Funcional da Biodiversidade
                                                    Amazônica.
                                                    <br>vii. Disponibilizar estrutura e serviços para atender as empresas locais já operantes
                                                    nos setores priorizados no Programa BioPará.
                                                    <br>viii. Incentivar e apoiar a criação de startups além de micro, pequenas e médias
                                                    empresas biotecnológicas.
                                                    <br>ix. Atrair grandes empresas com o oferecimento de serviços laboratoriais
                                                    diferenciados e projetos de pesquisa com alta tecnologia.
                                                    
                                            </li>
                                            <li class="list-group-item">
                                                    c. A rede de laboratórios – Rede BioTec-Amazônia, coordenada pela OS BioTec-
                                                    Amazônia, vai permitir a otimização de recursos (atuais e novos) além do uso eficaz
                                                    da estrutura laboratorial de forma a transformar conhecimento em inovação e trazendo
                                                    retorno socioeconômico para o Estado;
                                            </li>
                                            <li class="list-group-item">
                                                    d. A Rede BioTec-Amazônia, com a complementariedade entre os laboratórios
                                                    participantes, poderá pleitear o credenciamento da Rede de Laboratórios na Embrapii,
                                                    tornando-se a primeira entidade credenciada na região norte;
                                            </li>
                                            <li class="list-group-item">
                                                    e. Os laboratórios participantes da Rede BioTec-Amazônia aqui proposta poderão
                                                    continuar com suas atividades normais e estariam ligados e sendo coordenados pela
                                                    BioTec-Amazônia nos assuntos ligados à bioeconomia, tendo o benefício dos recursos
                                                    e investimentos realizados para o atingimento dos objetivos do Programa BioPará;
                                            </li>
                                            <li class="list-group-item">
                                                    f. Com a Rede BioTec-Amazônia constituída será possível a execução de projetos
                                                    tecnologicamente avançados e que necessitarão de coordenação durante todas as suas
                                                    etapas para garantir o atendimento dos prazos e objetivos das empresas envolvidas
                                            </li>
                                           
                                        </ul>

                                        <div class="news_post_image text-center">
                                                <img src="/src/assets/images/img-sobre-03.PNG" >                                               
                                        </div>

                                        <p>
                                                O potencial de exploração sustentável da biodiversidade amazônica implica em um trabalho
                                                coordenado que leva à soma de conhecimentos complementares de laboratórios especializados de
                                                forma a atender os principais objetivos, bem como os desafios empresariais.
                                        </p>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>