<div class="alert alert-danger" role="alert" *ngIf="mensagem">
    {{mensagem}}
  </div>


<div class="text-center bg" *ngIf="!naoChecar" >

  
  <div class="row justify-content-center">

    <mat-card>
            <div class="col-md-12">
                    <div class="alert alert-danger" *ngIf="authenticationError" >
                        <strong>Falha no login</strong> Por favor verifique suas credênciais e tente novamente.
                    </div>
                </div>
                <div class="col-md-12">
                    <form class="form" role="form" (ngSubmit)="login()">
                        <div class="form-group">
                          
                            <label class="username-label" for="username" >
                                <span >E-Mail</span>
                                <span  > ou </span>
                                <span  >Cpf</span>
                                <span  > ou </span>
                                <span  >Login</span>
            
                            </label>
                            <input type="text" class="form-control" name="username" id="username" placeholder=" usuário"
                                   [(ngModel)]="username">
            
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Senha"
                                   [(ngModel)]="password">
                        </div>
                       
                        <button type="submit" class="btn btn-primary btn-block mb-2 "> Entrar </button>
                    </form>
                    <p></p>
                    <div class="alert alert-warning">
                        <a class="alert-link" href="http://rededelabolatorios-env.h7qiim6mwv.sa-east-1.elasticbeanstalk.com/#/reset/request" >Esqueceu a senha?</a>
                    </div>
                    <div class="alert alert-warning">
                        <span >Você ainda não tem uma conta?</span>
                        <a class="alert-link" [routerLink]="['/nova-conta']" routerLinkActive="router-link-active"  >Criar uma conta</a>
                    </div>
                </div>
    </mat-card>


    
</div>



</div>



<form class="form" role="form" (ngSubmit)="login()" *ngIf="naoChecar" >
        <div class="form-group">
          
            <label class="username-label" for="username" >
                <span >E-Mail</span>
                <span  > ou </span>
                <span  >Cpf</span>
                <span  > ou </span>
                <span  >Login</span>

            </label>
            <input type="text" class="form-control" name="username" id="username" placeholder=" usuário"
                   [(ngModel)]="username">

        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Senha"
                   [(ngModel)]="password">
        </div>
       
        <button type="submit" class="btn btn-primary btn-block mb-2 "> Entrar </button>
    </form>


