<div class="super_container">

    <!-- Header -->

    <header class="header trans_400">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
                        <div class="logo">
                            <a [routerLink]="['/home']">
                                <img src="./assets/images/logo.png" width="284px">
                            </a>
                        </div>
                        <nav class="main_nav ml-auto mr-auto">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li routerLinkActive="active"><a [routerLink]="['/home']">Inicio</a></li>
                                <li routerLinkActive="active"><a [routerLink]="['/areas-atuacao']">Áreas de atuação</a>
                                </li>
                                <li routerLinkActive="active"><a [routerLink]="['/servicos']">Serviços/Laboratórios</a>
                                </li>
                            </ul>
                        </nav>
                        <div class="log_reg">
                            <div class="log_reg_content d-flex flex-row align-items-center justify-content-start">
                                <div class="login log_reg_text"><a href="javascript:void(0)"
                                        (click)="abrirAutenticacao()">Entrar</a></div>
                                <div class="register log_reg_text"><a [routerLink]="['/nova-conta']">Registrar</a></div>
                            </div>
                        </div>
                        <div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Menu -->

    <div class="menu_overlay trans_400"></div>
    <div class="menu trans_400">
        <div class="menu_close_container">
            <div class="menu_close">
                <div></div>
                <div></div>
            </div>
        </div>
        <div class="log_reg">
            <div class="log_reg_content d-flex flex-row align-items-center justify-content-end">
                    <div class="login log_reg_text"><a href="javascript:void(0)"
                        (click)="abrirAutenticacao()">Entrar</a></div>
                <div class="register log_reg_text"><a [routerLink]="['/nova-conta']">Registrar</a></div>
            </div>
        </div>
        <nav class="menu_nav">
            <ul>
                    <li routerLinkActive="active"><a [routerLink]="['/home']">Inicio</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/areas-atuacao']">Áreas de atuação</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/servicos']">Serviços/Laboratórios</a></li>
                    <!-- <li> <a href="javascript:void(0)" (click)="abrirAutenticacao()">Entrar</a></li>
                    <li routerLinkActive="active"><a [routerLink]="['/nova-conta']">Registrar</a></li> -->

            </ul>
        </nav>
    </div>


    <!-- conteudo -->
    <router-outlet></router-outlet>



    <!-- Footer -->

    <!-- <footer class="footer magic_fade_in">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 footer_col magic_fade_in">
                    <div class="footer_about">
                        <div class="footer_logo">Host<span>Space</span></div>
                        <div class="copyright">

                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>

                        </div>
                        <div class="footer_text">
                            <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam
                                pretium turpis eget nibh laoreet iaculis. Nullam lacinia ex eleifend orci porttitor,
                                suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis.</p>
                        </div>
                        <div class="contact_container">
                            <form action="#" id="contact_form" class="contact_form">
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="contact_input" placeholder="Your Name"
                                            required="required">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="contact_input" placeholder="Your e-mail"
                                            required="required">
                                    </div>
                                </div>
                                <div>
                                    <textarea class="contact_input contact_textarea" placeholder="Message"
                                        required="required"></textarea>
                                </div>
                                <button class="contact_button">Send</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 footer_col">
                    <div class="footer_links">
                        <div class="row">
                            <div class="col-sm-6 footer_list_col magic_fade_in">
                                <div class="footer_list_container">
                                    <div class="footer_list_title">Hosting Options</div>
                                    <ul class="footer_list">
                                        <li><a href="#">Web Hosting</a></li>
                                        <li><a href="#">WordPress Hosting</a></li>
                                        <li><a href="#">VPS Hosting</a></li>
                                        <li><a href="#">Cloud Server</a></li>
                                        <li><a href="#">Reseller Package</a></li>
                                        <li><a href="#">Dedicated Hosting</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 footer_list_col magic_fade_in">
                                <div class="footer_list_container">
                                    <div class="footer_list_title">Domains</div>
                                    <ul class="footer_list">
                                        <li><a href="#">Buy a Domain</a></li>
                                        <li><a href="#">Premium Domain Names</a></li>
                                        <li><a href="#">Web Hosting</a></li>
                                        <li><a href="#">Transfer Your Domain</a></li>
                                        <li><a href="#">Domain Marketplace</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 footer_list_col magic_fade_in">
                                <div class="footer_list_container">
                                    <div class="footer_list_title">Resellers</div>
                                    <ul class="footer_list">
                                        <li><a href="#">VPS Hosting</a></li>
                                        <li><a href="#">Cloud Server</a></li>
                                        <li><a href="#">Reseller Package</a></li>
                                        <li><a href="#">Dedicated Hosting</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 footer_list_col magic_fade_in">
                                <div class="footer_list_container">
                                    <div class="footer_list_title">Support</div>
                                    <ul class="footer_list">
                                        <li><a href="#">Buy a Domain</a></li>
                                        <li><a href="#">Premium Domain Names</a></li>
                                        <li><a href="#">Web Hosting</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer> -->

</div>