@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "preloade.css";

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; */
  /* background-image: url('https://uploads-ssl.webflow.com/5afd737ac94d739e059655ac/5b0d35f265dbaa4de6c03b95_amazonia-3.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

